::view-transition-old(root),
::view-transition-new(root)
  animation-duration .3s

body
    padding 0
    margin 0
    color white
    background black

main
    min-height 99vh

.wrapper
    --item-size 20vmin
    width 100%
    height 100%
    display grid
    place-items center

.grid
    display grid
    gap calc(var(--item-size) / 12)
    grid-auto-rows var(--item-size)
    grid-template-columns repeat(3, var(--item-size))
    .item:first-of-type
        --item-size: 40vmin
        grid-column 1 / 3
        grid-row 1 / 3

.item
    --min: calc(var(--item-size) / 100)
    width 100%
    height 100%
    cursor pointer
    min-width var(--item-size)
    min-height var(--item-size)
    border-radius calc(var(--item-size) / 10)
    border 2px solid white
    backdrop-filter blur(10px)
    background-color rgba(0, 0, 0, .2)
    display grid
    place-items center
    & > *
        width calc(var(--min) * 80)
        height calc(var(--min) * 80)
