:root
    --primary-color white
    --foreground-color black

::view-transition-old(root),
::view-transition-new(root)
  animation-duration .3s

::-webkit-scrollbar
	width 5px
	height 4px

::-webkit-scrollbar:hover
	cursor pointer

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner,
::-webkit-resizer
	background transparent

::-webkit-scrollbar-thumb
	background var(--primary-color)
	border-radius 2px

body
    padding 0
    margin 0
    color var(--primary-color)
    background var(--foreground-color)

main
    min-height 99vh

.wrapper
    --item-size 20vmin
    --min-item-size 20vmin
    width 100%
    height 100%
    display grid
    place-items center

.item
    --min: calc(var(--item-size) / 100)
    width 100%
    height 100%
    cursor pointer
    min-width var(--item-size)
    min-height var(--item-size)
    border-radius 4vmin
    box-sizing border-box
    border 2px solid var(--primary-color)
    backdrop-filter blur(10px)
    background-color rgba(0, 0, 0, .2)
    display grid
    place-items center
    & > *
        width calc(var(--min) * 80)
        height calc(var(--min) * 80)
